.gb-typography-text {
    @apply text-sm;
    /* @apply text-typography-body-light dark: text-typography-body-dark; */
}

.gb-typography-text-xs {
    @apply text-xs;
}

.gb-typography-text-sm {
    @apply text-sm;
}

.gb-typography-text-md {
    @apply text-base;
}

.gb-typography-text-lg {
    @apply text-lg;
}

.gb-typography-text-xl {
    @apply text-xl;
}

.gb-typography-text-2xl {
    @apply text-2xl;
}

.gb-typography-text-3xl {
    @apply text-3xl;
}

.gb-typography-text-secondary {
    @apply text-typography-body-secondary-light;
    /* @apply dark: text-typography-body-secondary-dark; */
}

.gb-typography-text-success {
    @apply text-green-500;
    /* @apply dark: text-green-500; */
}

.gb-typography-text-warning {
    @apply text-yellow-500;
    /* @apply dark: text-yellow-500; */
}

.gb-typography-text-danger {
    @apply text-red-500;
    /* @apply dark: text-red-500; */
}

.gb-typography-text-disabled {
    @apply text-gray-300;
    /* @apply dark: text-gray-400; */
    /* color: rgba(0,0,0,.25); */
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gb-typography-text-underline {
    @apply underline;
}

.gb-typography-text-strikethrough {
    @apply line-through;
}

.gb-typography-text strong {
    @apply text-sm;
}

mark.gb-typography-text {
    padding: 0;
    background-color: #ffe58f;
}

code.gb-typography-text {
    /* margin: 0 .2em; */
    padding: 0.2em 0.4em 0.1em;
    /* font-size: 85%; */
    background: hsla(0, 0%, 58.8%, 0.1);
    border: 1px solid hsla(0, 0%, 39.2%, 0.2);
    border-radius: 3px;
}

kbd.gb-typography-text {
    /* margin: 0 .2em; */
    padding: 0.15em 0.4em 0.1em;
    /* font-size: 90%; */
    background: hsla(0, 0%, 58.8%, 0.06);
    border: solid hsla(0, 0%, 39.2%, 0.2);
    border-width: 1px 1px 2px;
    border-radius: 3px;
}